<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h9 style="border-bottom: 1px solid silver; margin-bottom: 10px;">Genre</h9>
      <div class="row">
        <% @parents.each do |parent| %>
          <div class="row" style="margin-left: 10px; padding-bottom: 5px;">
            <%= link_to genre_show_path(parent.id) do %>
            <h3><%= parent.name %> >></h3>
            <% end %>
          </div>
            <% parent.children.each do |child| %>
              <div class="row" style="margin-left: 10px; padding-bottom: 5px; padding-left: 50px;">
                <%= link_to genre_show_path(child.id) do %>
                <%= child.name %>
                <% end %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-9">

      <div class="font_z"> mannga </div>
      <div class="row">
      	<div class="col-xs-3">
              <%= attachment_image_tag(@mannga, :image_url,id: "preview", size: '200x200', fallback: "no_image.jpg") %>
        </div>

        <div class="col-xs-6">
          <br>
          <%= @mannga.name %>
        </div>
        <div class="col-xs-6">
          <br>
        	<%= render_with_hashtags(@mannga.description) %>
        </div>
        <div class="col-xs-6">
          <br>
          <%= @mannga.genre.name %>
        </div>

        <div class="col-xs-6">
          <br>
          <% if @mannga.favorited_by?(current_user) %>
              <%= link_to mannga_favorites_path(@mannga), method: :delete do %>
              <i class="glyphicon glyphicon-heart"style="color: red;"></i>
              <%= @mannga.favorites.count %>
              <% end %>
              </li>
              <% else %>
                <%= link_to mannga_favorites_path(@mannga), method: :post do %>
              <i class="glyphicon glyphicon-heart"></i>
               <%= @mannga.favorites.count %>
              <% end %>
          <% end %>
          <%= link_to "レビューを書く", new_mannga_post_path(@mannga) %>
        </div>
      </div>

      <% if @post == 0 %>
      <h3>レビューがありません</h3>
      <% end %>


      <div class="row">
        <div class="col-xs-9">
          <h3> rebyu </h3>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th><h3>user_name</h3></th>
                <th></th>
                <th><h3>rate</h3></th>
                <th><h3>tile</h3></th>
                <th><h3>body</h3></th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <% @posts.each do |post| %>
            <tbody>
            <tr>
              <td>
              <%= link_to user_path(post.user.id) do %>
              <%= post.user.last_name%>
              <% end %>
               </td>
              <td>
              </td>
              <td>
                <div id="star-rate-<%= post.id %>"></div>
                <script>
                $('#star-rate-<%= post.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= post.rate %>,
                  });
                </script>
              </td>
              <td><%= post.title %></td>
              <td><%= post.body %></td>
              <td> <% if current_user == post.user %>
                <%= link_to '口コミを編集',edit_mannga_post_path(mannga_id: @mannga, id: post), method: :get, class:'btn btn-warning' %></td>
                <td><%= link_to '口コミを削除',mannga_post_path(mannga_id: @mannga, id: post) , method: :delete, class:'btn btn-warning' %>
              <% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
