<div class="row">
  <h3 class="title">漫画</h3>
</div>

<div class="row">
  <div class="admin-mannga-info">
  	<div class="col-xs-5">
      <div class="item-info-image">
          <%= attachment_image_tag(@mannga, :image_url,id: "preview", size: '400x300', fallback: "no_image.jpg") %>
      </div>
    </div>

    <div class="col-xs-6">
    	<div class="info-content">
    		<p class="info-head">漫画</p>
    		<p class="item-info-text"><%= @mannga.name %></p>
    	</div>
    	<div class="info-content">
    		<p class="info-head">漫画説明</p>
    		<p class="item-info-text"><%= render_with_hashtags(@mannga.description) %></p>
    	</div>
      <%= @mannga.genre.name %>


      <% if @mannga.favorited_by?(current_user) %>
        <%= link_to mannga_favorites_path(@mannga), method: :delete do %>
        <i class="glyphicon glyphicon-heart"style="color: red;"></i>
        <%= @mannga.favorites.count %>
        <% end %>
        </li>
        <% else %>
          <%= link_to mannga_favorites_path(@mannga), method: :post do %>
        <i class="glyphicon glyphicon-heart"></i>
         <%= @mannga.favorites.count %>
        <% end %>
      <% end %>



    	<%= link_to "レビューを書く", new_mannga_post_path(@mannga) %>
		</div>
	</div>
</div>
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="row posts">
      <div class="col-md-2 posts-user">
        <p class="posts-title"><%= link_to user_path(post.user.id) do %>
          <%= post.user.last_name%>
          <% end %>
        </p>
      </div>
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <p><%= post.created_at %></p>
          <h4 class="mb-3">評価：<%= post.rate %>点 | <%= post.title %></h4>

          <!--星評価-->
         <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>
        <!--/星評価-->

          <p><%= post.body %></p>
        </div>
      </div>
      <div class="col-md-12 edit-button">
        <% if current_user == post.user %>
          <%= link_to '口コミを編集', "", method: :get, class:'btn btn-default' %>
          <%= link_to '口コミを削除', "", method: :delete, class:'btn btn-default' %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
