<!DOCTYPE html>
<html>
  <head>
    <title>漫画レビュー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
  </head>


  <body>
    <div style="text-align: left;">
      <div class="nav_iamge"style="background-size: cover; background-position: center;">
        <div class="container"style="height: 200px;">
          <div class="font">
          manngarebyu
          </div>
        </div>
      </div>
    </div>

   

    <div class="navbar navbar-default" role="navigation">

       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>


      <div class="navbar-collapse collapse"style="background-color: #f5e41770;">
        <ul class="nav navbar-nav">

            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
            <li><%= link_to ' home', user_path(current_user)%></li>
            <li><%= link_to ' mannga', manngas_path%></li>
            <li><%= link_to ' contact', contacts_new_path%></li>
            <li><%= link_to ' likes', favorite_users_path(current_user)%></li>
            <li><%= link_to ' logout', destroy_user_session_path, method: :delete %></li>


            <% else %>
            <li><%= link_to ' TOP', admin_genres_path, class: 'glyphicon glyphicon-home home' %></li>
            <li><%= link_to ' ABOUT',admin_genres_path , class: 'glyphicon glyphicon-link about' %></li>
            <li><%= link_to ' SIGN_UP', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
            <li><%= link_to ' LOG_IN', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></li>
            <li><%= link_to ' CONTACT', contacts_new_path%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
     <div style="margin-top: 50px; margin-bottom: 30px; text-align: center;　"><%= form_tag(searchs_search_path, :method => 'get') do %>
         <%= text_field_tag :search %>
        <span class="font_s">
          <span class="h3">
         <%= submit_tag 'Search' %>
       </span>

     </span>
         <% end %>
      </div>


    <%= yield %>

   

     <footer>
      <div class ="footer_s">
      <div class="text-center"style="background-color: #f5e41770; height: 100px; width: 100%;">
        <h3>top</h3>
        <h3><small>&copy;</small> manngarebyu Co. Ltd.</h3>
      </div>
    </div>
    </footer>
  </body>
</html>