<!DOCTYPE html>
<html>
  <head>
    <title>漫画レビュー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body style="padding-top: 70px;">

    <div style="text-align: center;">
        <div class="container">
          <h3>manngarebyu</h3>
        </div>
    </div>
   

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>


      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
            <li><%= link_to ' マイページ', user_path(current_user)%></li>
            <li><%= link_to ' 漫画一覧', manngas_path%></li>
            <li><%= link_to ' 問合せ', contacts_new_path%></li>
            <li><%= link_to ' いいね一覧', favorite_users_path(current_user)%></li>
            <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></li>


            <% else %>
            <li><%= link_to ' TOPページ', admin_genres_path, class: 'glyphicon glyphicon-home home' %></li>
            <li><%= link_to ' 概要',admin_genres_path , class: 'glyphicon glyphicon-link about' %></li>
            <li><%= link_to ' 新規登録', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></li>
            <li><%= link_to ' ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></li>
            <li><%= link_to ' 問合せ', contacts_new_path%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
     <div style="margin-top: 70px; text-align: center;　"><%= form_tag(searchs_search_path, :method => 'get') do %>
         <%= text_field_tag :search %>
         <%= submit_tag 'Search' %>
         <% end %>
      </div>



    <%= yield %>

    <!--ヘッダーの記述-->
    <div class="container">
      <!--デバイスでnotice設定されているので呼び出してるだけ-->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>
  </body>
</html>